<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is a test!</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">
    	$(document).ready(function(){
    		//alert('a');

    		/*$("#a").click(function(){
    			//alert("a");
    			//var formData = new FormData();
    			//formData.append('file', $('#file')[0].files[0]);
    			//formData.append("name","123");
    			$.ajax({
    				url:"/post_test",
    				type:"post",
    				//contentType: false,
    				//processData: false,
    				data:{
                        a:'{asa,xas:d}'
                    },
    				success:function(ans){
    					console.log(ans);
    				}

    			});
    		});*/
    		$("#signup").click(function () {
                $.ajax({
                    url:"/get_chart_content",
                    type:"post",
                    data:{
                        sheet_id:7,
                        start_line:0,
                        lines:5,
                        column:"学号",
                        all:1,
                        accoun:"abcde",
                        passw:"abcde",
                        data:"ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffasdawdsadzf21231ds$%@#",
                        sheet_id:3,
                        xAttri:'姓名',
                        xAttriKind:0,
                        xAttriSelf:0,
                        xField:'[{"min":"李华一","max":"李华一","left":1,"right":1},{"min":"李华二","max":"李华二","left":1,"right":1},{"min":"李华三","max":"李华三","left":1,"right":1}]',
                        yAttri:"value",
                        yAttriKind:1,
                        Operator:1,
                        yField:'[{"min":" ","max":" ","left":1,"right":1}]',
                        info:'{"xAttri":"一","xAttriKind":0,"xAttriSelf":0,"xField":[{"min":"a1","max":"a1","left":1,"right":1}],"yAttri":"一","yAttriKind":0,"Operator":0,"yField":[{"min":"a1","max":"a1","left":1,"right":1}]}'
                    },
                    success:function ($ans) {
                        console.log($ans);
                    }
                });
            });
    		$("#login").click(function () {
                $.ajax({
                    url:"/log_in",
                    type:"post",
                    data:{
                        account:"abcde",
                        password:"abcde"
                    },
                    success:function ($ans) {
                        console.log($ans);
                    }
                });
            });$("#aa").click(function () {
                $.ajax({
                    url:"/get_page",
                    type:"post",
                    data:{
                        account:"abcde",
                        password:"abcde"
                    },
                    success:function ($ans) {
                        console.log($ans);
                    }
                });
            });

    	});
    </script>
</head>
<body>
   <form enctype="multipart/form-data" action="/upload" method="post">

   <input type="file" name="file" />  
   <input type="submit" value="upload"/>  
   </form>  
    <input type="button" id="signup" value="signup">
    <input type="button" id="login" value="login">
    <input type="button" id="aa" value="aa">
</body>
</html>