<div class="dataPage-main">
    <div class="dataPage-menus">
        <div class="dataPage-menus-item">本地</div>
        <div class="dataPage-menus-item">爬虫</div>
        <div class="dataPage-menus-item">城市</div>
        <div class="dataPage-menus-item">AR/VR</div>
        <div class="dataPage-menus-item">食品</div>
        <div class="dataPage-menus-item">电商</div>
    </div>
    <div class="dataPage-content">
        <div class="dataPage-content-item">
            <div class="dataPage-content-item-headers">
                <div class="dataPage-content-item-flag1"></div>
                <div class="dataPage-content-item-name">本地</div>
                <div class="dataPage-content-item-space"></div>
                <div class="dataPage-content-item-more">more>></div>
            </div>
            <div class="dataPage-content-item-main">
                <div class="dataPage-content-item-mainPart">
                    <div class="dataPage-content-item-mainPart-part1 dataPage-content-item-mainPart-part1-0"></div>
                    <div class="dataPage-content-item-mainPart-part2">iChart</div>
                </div>
            </div>
        </div>
        <div class="dataPage-content-item">
            <div class="dataPage-content-item-headers">
                <div class="dataPage-content-item-flag2"></div>
                <div class="dataPage-content-item-name">爬虫</div>
                <div class="dataPage-content-item-space"></div>
                <div class="dataPage-content-item-more">more>></div>
            </div>
            <div class="dataPage-content-item-main">
                <div class="dataPage-content-item-mainPart">
                    <div class="dataPage-content-item-mainPart-part1 dataPage-content-item-mainPart-part1-6"></div>
                    <div class="dataPage-content-item-mainPart-part2">ofo共享单车</div>
                </div>
                <div class="dataPage-content-item-mainPart">
                    <div class="dataPage-content-item-mainPart-part1 dataPage-content-item-mainPart-part1-7"></div>
                    <div class="dataPage-content-item-mainPart-part2">气泡图</div>
                </div>
                <div class="dataPage-content-item-mainPart">
                    <div class="dataPage-content-item-mainPart-part1  dataPage-content-item-mainPart-part1-1"></div>
                    <div class="dataPage-content-item-mainPart-part2">全国主要城市空气质量</div>
                </div>
                <div class="dataPage-content-item-mainPart">
                    <div class="dataPage-content-item-mainPart-part1 dataPage-content-item-mainPart-part1-2"></div>
                    <div class="dataPage-content-item-mainPart-part2">Anscombe's quartet</div>
                </div>
                <div class="dataPage-content-item-mainPart">
                    <div class="dataPage-content-item-mainPart-part1 dataPage-content-item-mainPart-part1-3"></div>
                    <div class="dataPage-content-item-mainPart-part2">Scatter Aqi Color</div>
                </div>
                <div class="dataPage-content-item-mainPart">
                    <div class="dataPage-content-item-mainPart-part1 dataPage-content-item-mainPart-part1-4"></div>
                    <div class="dataPage-content-item-mainPart-part2">大规模散点图</div>
                </div>
                <div class="dataPage-content-item-mainPart">
                    <div class="dataPage-content-item-mainPart-part1 dataPage-content-item-mainPart-part1-5"></div>
                    <div class="dataPage-content-item-mainPart-part2">各国人均寿命与GDP关系演变</div>
                </div>
            </div>
        </div>
        <div class="dataPage-content-item">
            <div class="dataPage-content-item-headers">
                <div class="dataPage-content-item-flag3"></div>
                <div class="dataPage-content-item-name">城市</div>
                <div class="dataPage-content-item-space"></div>
                <div class="dataPage-content-item-more">more>></div>
            </div>
            <div class="dataPage-content-item-main">
                <div class="dataPage-content-item-mainPart">
                    <div class="dataPage-content-item-mainPart-part1 dataPage-content-item-mainPart-part1-8"></div>
                    <div class="dataPage-content-item-mainPart-part2">Punch Card of Github</div>
                </div>
                <div class="dataPage-content-item-mainPart">
                    <div class="dataPage-content-item-mainPart-part1 dataPage-content-item-mainPart-part1-9"></div>
                    <div class="dataPage-content-item-mainPart-part2">Scatter Nutrients Matrix</div>
                </div>
                <div class="dataPage-content-item-mainPart">
                    <div class="dataPage-content-item-mainPart-part1 dataPage-content-item-mainPart-part1-10"></div>
                    <div class="dataPage-content-item-mainPart-part2">单轴散点图</div>
                </div>
                <div class="dataPage-content-item-mainPart">
                    <div class="dataPage-content-item-mainPart-part1 dataPage-content-item-mainPart-part1-11"></div>
                    <div class="dataPage-content-item-mainPart-part2">双轴散点图</div>
                </div>
                <div class="dataPage-content-item-mainPart">
                    <div class="dataPage-content-item-mainPart-part1 dataPage-content-item-mainPart-part1-12"></div>
                    <div class="dataPage-content-item-mainPart-part2">多轴散点图</div>
                </div>
                <div class="dataPage-content-item-mainPart">
                    <div class="dataPage-content-item-mainPart-part1 dataPage-content-item-mainPart-part1-13"></div>
                    <div class="dataPage-content-item-mainPart-part2">男性女性身高体重分布</div>
                </div>
                <div class="dataPage-content-item-mainPart">
                    <div class="dataPage-content-item-mainPart-part1 dataPage-content-item-mainPart-part1-14"></div>
                    <div class="dataPage-content-item-mainPart-part2">Exponential Regression</div>
                </div>
            </div>
        </div>
    </div>
</div>