<div class="mainContent-menus">
    <a ><img ng-src="image/icon/iChartEditPage/{{srcs[0]}}" class="content-menu" ng-click="switchMenuButton(0)" ></a>
    <a ><img ng-src="image/icon/iChartEditPage/{{srcs[1]}}" class="content-menu" ng-click="switchMenuButton(1)"></a>
    <a ><img ng-src="image/icon/iChartEditPage/{{srcs[2]}}" class="content-menu" ng-click="switchMenuButton(2)"></a>
    <a ><img ng-src="image/icon/iChartEditPage/{{srcs[3]}}" class="content-menu" ng-click="switchMenuButton(3)"></a>
    <a ><img ng-src="image/icon/iChartEditPage/{{srcs[4]}}" class="content-menu" ng-click="switchMenuButton(4)"></a>
</div>
<div class="mainContent-tool-bottom"></div>
<div class="mainContent-tool-upper">
    <div ui-view="menus" class="tool-menu-content"></div>
</div>
<div class="mainContent-workspace" ng-click="closeMenu();">
    <div class="editPage_workspace" id="editPage_workspace"></div>
</div>
<div class="mainContent-attr">
    <div class="mainContent-attr-kinds">
        <div class="switch-menu mainContent-attr-kind" switch-button="数据,设置" switch-button-size="70" switch-button-action="mainContentAttrKinds(flag)"></div>
        <div class="mainContent-attr-content" ng-show="attrKindFlag===0">数据</div>
        <div class="mainContent-attr-content" ng-show="attrKindFlag===1">
            <div class="mainContent-attr-item" ng-show="attrsIsExieted[0]">
                <div class="mainContent-attr-item-normal-title" ng-click="attrsIsClose[0]=!attrsIsClose[0];">
                    <div class="mainContent-attr-item-normal-titleBox_arround">
                        <div class="mainContent-attr-item-normal-titleBox_A" ng-class="attrsIsClose[0]==true?'mainContent-attr-item-normal-titleBox_B':''" ></div>
                    </div>
                    <div class="mainContent-attr-item-normal-titleBox">表格标题</div>
                    <div class="mainContent-attr-item-normal-titleBox_arround"></div>
                </div>
                <div class="mainContent-attr-item-content" ng-class="attrsIsClose[0]==true?'mainContent-attr-item-content-inactive':'mainContent-attr-item-content-headerName'">
                    <div class="mainContent-attr-item-normal-input-box-headerName">
                        <input id="input-headerName" ng-change="changeTableAttr('input-headerName');" ng-model="headerName">
                    </div>
                </div>
            </div>
        </div>
        <div class="mainContent-attr-content" ng-show="attrKindFlag===1">
            <div class="mainContent-attr-item" ng-show="attrsIsExieted[0]">
                <div class="mainContent-attr-item-normal-title">
                    234234
                </div>
                <div class="mainContent-attr-item-cotent">
                    asdasd
                </div>
            </div>
        </div>
    </div>
</div>