<div class="mainContent-menus">
    <a ><img ng-src="image/icon/iChartEditPage/{{srcs[0]}}" class="content-menu" ng-click="switchMenuButton(0)" ></a>
    <a ><img ng-src="image/icon/iChartEditPage/{{srcs[1]}}" class="content-menu" ng-click="switchMenuButton(1)"></a>
    <a ><img ng-src="image/icon/iChartEditPage/{{srcs[2]}}" class="content-menu" ng-click="switchMenuButton(2)"></a>
    <a ><img ng-src="image/icon/iChartEditPage/{{srcs[3]}}" class="content-menu" ng-click="switchMenuButton(3)"></a>
    <a ><img ng-src="image/icon/iChartEditPage/{{srcs[4]}}" class="content-menu" ng-click="switchMenuButton(4)"></a>
</div>
<div class="mainContent-tool-bottom"></div>
<div class="mainContent-tool-upper">
    <div ui-view class="tool-menu-content"></div>
</div>
<div class="mainContent-workspace" ng-click="leftMenuFlag=0">
    <div class="editPage_workspace" id="editPage_workspace">
    </div>
</div>
<div class="mainContent-attr"></div>