<div class="update-attrs">
    <div class="update-attrs-line">
        <div class="update-attrs-line-name">工作表名称：</div>
        <div class="update-attrs-line-input">
            <input class="update-attr-table-name"/>
        </div>
    </div>
    <div class="update-attrs-line">
        <div class="update-attrs-line-name">分类标签：</div>
        <div class="update-attrs-line-input">
            <input class="update-attr-table-kind"/>
        </div>
    </div>
    <div class="update-attrs-line1">
        <div class="update-attrs-line1-name">备注：</div>
        <div class="update-attrs-line1-input">
            <textarea class="update-attr-table-kind"></textarea>
        </div>
    </div>
    <div class="update-attrs-line2">
        <div class="update-attrs-line2-name"></div>
        <div class="update-attrs-line2-input">
            <div class="update-save-button">保存</div>
        </div>
    </div>
</div>