//The style file was wirtten as follows
//- gobal style
//- less style
//- componts loadBar


//global style
html,body{margin:0;padding:0;height: 100%;width: 100%;}

//less style


.iChart-main{position: absolute;height: 100%;width: 100%;background: #1f2326;}
.iChart-hidden{position: absolute;top: 0;bottom: 0;left: 0;right: 0;display: none;}


//componts
.loadBar{width: 100%;height: 3px;display: flex;flex-direction: row;flex-wrap: nowrap;}
.loadPart{background: #3da8f5;transition: all 5s;width: 0;}
.noLoadPart{background: transparent;flex: 1;transition: all 5s;}