body,html{margin:0;padding:0;height: 100%;width: 100%;}
.main{height: 100%;width: 100%;}

.mainPage1{position: relative;display: flex;flex-direction: column;height: 100vh;width: 100%;background: linear-gradient(rgba(34,42,53,.62),rgba(34,42,53,.62)) center center repeat,url("../image/icon/index/bg1.png") center center no-repeat;background-size: 100% 100%,100% 100%;}
.header{display: flex;height: 5em;width: 100%;flex-direction: row;align-items: center;justify-content: flex-start;}
.header-icon{display: block;height: 3em;width: 3em;background: url("../image/icon/index/logo1.png") center center no-repeat;background-size: 100% 100%;margin: 0 1em;}
.header-name{user-select: none;color: white;font-size: 155%;margin: 0 .5em 0 0;}
.header-space{display: flex;flex: 1;}
.header-login{cursor: pointer;color: white;padding: .5em 1.5em;border: 2px solid white;border-radius: 5px;margin: 0 1em;}
.header-login:hover{background:white;color: #172448;}
.header-regist{margin: 0 2em 0 0;}

.mainPage1-title{color: white;height: 20%;width: 100%;text-align: center;display: flex;justify-content: center;align-items: center;font-size: 200%;}
.mainPage1-content{position: relative;color: white;height: calc(75% - 5em);width: 100%;background: url("../image/icon/index/bg2.png") center bottom no-repeat; background-size: 50% 100%;}
.mainPage1-floatPrompts1{display: flex;justify-content: flex-start;align-items:center;flex-direction: column;position: absolute;height: 6em;top: 30%;left: 7%;}
.mainPage1-floatPrompts2{display: flex;justify-content: flex-start;align-items:center;flex-direction: column;position: absolute;height: 6em;top: 20%;right: 7%;}
.mainPage1-floatPrompts3{display: flex;justify-content: flex-start;align-items:center;flex-direction: column;position: absolute;height: 4em;top: 40%;left: 7%;}
.mainPage1-floatPrompts4{display: flex;justify-content: flex-start;align-items:center;flex-direction: column;position: absolute;height: 4em;top: 50%;right: 7%;}
.mainPage1-floatPromptPoint{background: rgb(68,169,242);border-radius: 50% 50%;width: .8em;height: .8em;margin: .4em 0 0 0;}
.mainPage1-floatPromptLine{line-height: 2em;}
.mainPage2{display: block;height: 100vh;width: 100%;background: white;}



