<div class="menu-title">常用图表</div>
<div class="menu-graphic-items-title">条形图</div>
<div class="menu-graphic-items-box">
    <img src="./image/icon/iChartEditPage/leftMenu2/u84.png" class="menu-graphic-item" ng-click="addTableDom('kind0')"/>
    <img src="./image/icon/iChartEditPage/leftMenu2/u86.png" class="menu-graphic-item" ng-click="addTableDom('kind1')"/>
    <img src="./image/icon/iChartEditPage/leftMenu2/u88.png" class="menu-graphic-item" ng-click="addTableDom('kind2')"/>
    <img src="./image/icon/iChartEditPage/leftMenu2/u90.png" class="menu-graphic-item" ng-click="addTableDom('kind3')"/>
    <img src="./image/icon/iChartEditPage/leftMenu2/u92.png" class="menu-graphic-item" ng-click="addTableDom('kind4')"/>
    <img src="./image/icon/iChartEditPage/leftMenu2/u94.png" class="menu-graphic-item" />
</div>
<div class="menu-graphic-items-title">饼图</div>
<div class="menu-graphic-items-box">
    <img src="./image/icon/iChartEditPage/leftMenu2/u99.png" class="menu-graphic-item" />
    <img src="./image/icon/iChartEditPage/leftMenu2/u101.png" class="menu-graphic-item" />
    <img src="./image/icon/iChartEditPage/leftMenu2/u103.png" class="menu-graphic-item" />
</div>
<div class="menu-graphic-items-title">折线图</div>
<div class="menu-graphic-items-box">
    <img src="./image/icon/iChartEditPage/leftMenu2/u75.png" class="menu-graphic-item" />
    <img src="./image/icon/iChartEditPage/leftMenu2/u77.png" class="menu-graphic-item" />
    <img src="./image/icon/iChartEditPage/leftMenu2/u79.png" class="menu-graphic-item" />
</div>
<div class="menu-graphic-items-title">气泡图</div>
<div class="menu-graphic-items-box">
    <img src="./image/icon/iChartEditPage/leftMenu2/u108.png" class="menu-graphic-item" />
    <img src="./image/icon/iChartEditPage/leftMenu2/u110.png" class="menu-graphic-item" />
</div>
<div class="menu-graphic-items-title">散点图</div>
<div class="menu-graphic-items-box">
    <img src="./image/icon/iChartEditPage/leftMenu2/u114.png" class="menu-graphic-item" "/>
    <img src="./image/icon/iChartEditPage/leftMenu2/u116.png" class="menu-graphic-item" />
</div>