<div class="menu-title">常用模板</div>
<div class="menu-model-items-box">
    <img src="./image/icon/iChartEditPage/leftMenu1/model_default1.png" class="menu-model-item" ng-click="addTableDom('kind5')"/>
    <div class="menu-model-items-title">雨量流量关系图</div>
    <img src="./image/icon/iChartEditPage/leftMenu1/model_default2.png" class="menu-model-item" />
    <div class="menu-model-items-title">北京公交路线</div>
    <img src="./image/icon/iChartEditPage/leftMenu1/model_default3.png" class="menu-model-item" />
    <div class="menu-model-items-title">Customized Pie</div>
    <img src="./image/icon/iChartEditPage/leftMenu1/model_default4.png" class="menu-model-item" />
    <div class="menu-model-items-title">AQI 雷达图</div>
</div>