<div class="menu-title">常用文字</div>
<div class="menu-font-items font-YaHei" ng-click="addTextDom('Microsoft YaHei UI')">微软雅黑 MicrosoftYaHei</div>
<div class="menu-font-items font-SongTi " ng-click="addTextDom('SimSun')">宋体 SimSun</div>
<div class="menu-font-items font-SimHei" ng-click="addTextDom('SimHei')">黑体 SimHei</div>
<div class="menu-font-items font-NSimSun " ng-click="addTextDom('NSimSun')">新宋体 NSimSun</div>
<div class="menu-font-items font-PMingLiU" ng-click="addTextDom('PMingLiU')">新细明体 PMingLiU</div>
<div class="menu-font-items font-MingLiU " ng-click="addTextDom('MingLiU')">细明体 MingLiU</div>
<div class="menu-font-items font-DFKai-SB" ng-click="addTextDom('DFKai-SB')">标楷体 DFKai-SB</div>
<div class="menu-font-items font-FangSong " ng-click="addTextDom('FangSong')">仿宋 FangSong</div>
<div class="menu-font-items font-KaiTi" ng-click="addTextDom('KaiTi')">楷体 KaiTi</div>
<div class="menu-font-items font-FangSong_GB2312" ng-click="addTextDom('FangSong_GB2312')">仿宋_GB2312 FangSong_GB2312</div>
<div class="menu-font-items font-KaiTi_GB2312" ng-click="addTextDom('KaiTi_GB2312')">楷体_GB2312 KaiTi_GB2312</div>
