html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #1f2326;
}
input {
  outline: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  background: transparent;
  color: white;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 0 transparent inset !important;
  -webkit-text-fill-color: white;
}
::-webkit-scrollbar-track {
  height: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}
::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
}
::-webkit-scrollbar:horizontal {
  height: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(85, 85, 85, 0.2);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(85, 85, 85, 0.6);
}
::-webkit-scrollbar-track:horizontal {
  background: transparent;
}
.iChart-main {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 90em;
  background: #1f2326;
}
.iChart-mainBlur {
  filter: blur(3px);
}
.iChart-hidden {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  transition: all 2.5s;
  background: transparent;
  opacity: 0;
}
.iChart-hidden-dataSource {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(112, 112, 112, 0.6);
  opacity: 1;
  z-index: 100;
}
.iChart-hidden-latitudeSource {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(112, 112, 112, 0.6);
  opacity: 1;
  z-index: 100;
}
.iChart-hidden-valueSource {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(112, 112, 112, 0.6);
  opacity: 1;
  z-index: 100;
}
.loadBar {
  width: 100%;
  height: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.loadPart {
  background: #3da8f5;
  width: 0;
}
.noLoadPart {
  background: transparent;
  flex: 1;
}
.headers {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 3.5em;
  border-bottom: #797979 1px solid;
}
.headers-logo {
  height: 3.5em;
  width: 3.5em;
  background: url("../image/icon/logo1.png") center center no-repeat;
  background-size: 52% 52%;
  margin: 0 0 0 1em;
}
.headers-name {
  color: #3da8f5;
  font-size: 160%;
  user-select: none;
  margin: 0 3em 0 0;
}
.switch-menu {
  display: flex;
  flex-direction: row;
  width: 21em;
  height: 100%;
  position: relative;
}
.switch-menu-item {
  flex: 1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.switch-menu-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #3da8f5;
  height: 2px;
  transition: all 0.3s;
}
.headers-space {
  flex: 1;
  color: white;
}
.headers-avatar {
  height: 3.5em;
  width: 3.5em;
  margin: 0 2em 0 0;
  line-height: 3.5em;
  text-align: center;
  cursor: pointer;
}
.img-avatar {
  position: relative;
  height: 60%;
  width: 60%;
  vertical-align: middle;
  top: -3px;
}
.mainContent {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: relative;
}
.mainContent-menus {
  width: 4.2em;
  min-width: 4.2em;
  height: 100%;
  background: #393f41;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 10;
  border-right: 1px solid #787878;
}
.mainContent-tool-bottom {
  width: 0;
  height: 100%;
  background: #393f41;
  min-width: 0;
  transition: all linear .3s;
}
.mainContent-tool-upper {
  width: 17%;
  height: 100%;
  background: #393f41;
  min-width: 17em;
  left: -17%;
  position: absolute;
  transition: all linear .3s;
}
.mainContent-workspace {
  flex: 1;
  height: 100%;
  min-width: 47em;
  overflow: auto;
  position: relative;
}
.mainContent-attr {
  width: 20%;
  height: 100%;
  background: #393f41;
  min-width: 20em;
  user-select: none;
}
.mainContent-control-Column {
  height: 100%;
  width: 1px;
  background: transparent;
  overflow: visible;
  position: relative;
}
.content-menu {
  height: 1.8em;
  width: 1.8em;
  margin: 1.2em 0;
  cursor: pointer;
}
.tool-menu-content {
  overflow: auto;
  height: 100%;
  width: 100%;
}
.menu-title {
  margin: 0 auto;
  text-align: center;
  width: 85%;
  color: white;
  line-height: 3em;
  height: 3em;
  font-size: 115%;
  box-shadow: 0 2px 0 0 #3DA8F5;
  transition: all .5s;
  cursor: pointer;
}
.menu-title:hover {
  box-shadow: 0 3px 0 0 #3DA8F5;
}
.menu-graphic-items-title {
  width: 85%;
  margin: 0 auto;
  color: white;
  user-select: none;
  line-height: 2.5em;
  font-size: 105%;
}
.menu-graphic-items-box {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.menu-graphic-item {
  width: 30%;
  height: 4.1em;
  display: block;
  cursor: pointer;
  margin: .5em .2em;
}
.menu-font-items {
  width: 85%;
  line-height: 2.5em;
  height: 2.5em;
  background: white;
  color: #666;
  overflow: hidden;
  margin: 1em auto;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.font-YaHei {
  font-family: "Microsoft YaHei UI";
}
.font-SongTi {
  font-family: "SimSun";
}
.font-SimHei {
  font-family: "SimHei";
}
.font-NSimSun {
  font-family: "NSimSun";
}
.font-PMingLiU {
  font-family: "PMingLiU";
}
.font-MingLiU {
  font-family: "MingLiU";
}
.font-DFKai-SB {
  font-family: "DFKai-SB";
}
.font-FangSong {
  font-family: "FangSong";
}
.font-KaiTi {
  font-family: "KaiTi";
}
.font-FangSong_GB2312 {
  font-family: "FangSong_GB2312";
}
.font-KaiTi_GB2312 {
  font-family: "KaiTi_GB2312";
}
.menu-upload-pic {
  border-radius: 5px;
  width: 80%;
  margin: 1em auto;
  height: 2em;
  line-height: 2em;
  position: relative;
  color: white;
  background: #3DA8F5;
}
.menu-upload-pic > p {
  text-align: center;
  cursor: pointer;
}
#menu-upload-pic-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
}
.editPage_workspace {
  width: 32em;
  min-height: 64em;
  background: white;
  margin: 10em auto;
  transition: all .5s;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.editPage_workspace_item:hover {
  cursor: pointer;
  box-shadow: 0 0 0 1px #3DA8F5;
}
.editPage_workspace_item_current {
  cursor: pointer;
  box-shadow: 0 0 0 2px #3DA8F5;
}
.editPage_controlButtonBox {
  position: absolute;
  right: 11px;
  width: 3em;
  height: 13em;
  top: calc(50% - 6.5em);
  bottom: calc(50% + 6.5em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.editPage_controlButtonItem {
  position: relative;
  width: 3em;
  height: 3em;
  border-radius: 5px;
  cursor: pointer;
}
.editPage_controlButtonItem:hover {
  box-shadow: 0 0 0 3px #666;
}
.editPage_controlButtonItem:nth-child(1) {
  background: url("../image/icon/iChartEditPage/save.png") center 30% no-repeat, linear-gradient(white, white) center center repeat;
  background-size: 20% 20%,100% 100%;
}
.editPage_controlButtonItem:nth-child(2) {
  background: url("../image/icon/iChartEditPage/scan.png") center 30% no-repeat, linear-gradient(white, white) center center repeat;
  background-size: 20% 20%,100% 100%;
}
.editPage_controlButtonItem:nth-child(3) {
  background: url("../image/icon/iChartEditPage/undo.png") center 30% no-repeat, linear-gradient(white, white) center center repeat;
  background-size: 20% 20%,100% 100%;
}
.editPage_controlButtonItem:nth-child(4) {
  background: url("../image/icon/iChartEditPage/redo.png") center 30% no-repeat, linear-gradient(white, white) center center repeat;
  background-size: 20% 20%,100% 100%;
}
.editPage_controlButtonName {
  user-select: none;
  position: relative;
  font-size: 80%;
  color: #666;
  text-align: center;
  top: 50%;
}
.mainContent-attr-kinds {
  margin: .5em 0 0 0;
  height: 3em;
  width: 100%;
}
.mainContent-attr-kind {
  width: 100%;
}
.mainContent-attr-kind > .switch-menu-bottom {
  height: 4px;
}
.mainContent-attr-content {
  color: white;
}
.mainContent-attr-item {
  border-bottom: 1px solid #797979;
}
.mainContent-attr-item-normal-title {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5em;
}
.mainContent-attr-item-content {
  transition: all .5s;
  display: block;
  overflow: hidden;
}
.mainContent-attr-item-content-inactive {
  height: 0;
}
.mainContent-attr-item-normal-titleBox {
  width: 70%;
  margin: 0 .5em;
  font-size: 95%;
}
.mainContent-attr-item-normal-titleBox_arround {
  flex: 1;
  height: 100%;
}
.mainContent-attr-item-normal-titleBox_A {
  transition: all .5s;
  position: relative;
  top: calc(50% - .5em);
  background: url("../image/icon/iChartEditPage/attr_item_arrow.png") center center no-repeat;
  background-size: 100% 100%;
  float: right;
  height: 1em;
  width: 1em;
}
.mainContent-attr-item-normal-titleBox_B {
  transition: all .5s;
  transform: rotate(-90deg);
}
.mainContent-attr-item-normal-input-box-headerName {
  width: 70%;
  margin: 0 auto;
  height: 2em;
  box-shadow: 0 2px 0 0 #3DA8F5;
  background: transparent;
}
.mainContent-attr-item-normal-dataSourceLine {
  width: 70%;
  margin: 0 auto;
  height: 2em;
  line-height: 2em;
}
.mainContent-attr-item-normal-dataSourceName {
  display: inline-block;
  vertical-align: middle;
  color: white;
  line-height: 2em;
  font-size: 95%;
}
.mainContent-attr-item-normal-dataSourceInput {
  display: inline-block;
  vertical-align: middle;
  float: right;
  position: relative;
  width: calc(100% - 5em);
  height: 2em;
  box-shadow: 0 2px 0 0 #3DA8F5;
  background: transparent;
}
.mainContent-attr-item-normal-dataSourceInput > .input-box {
  height: 2em;
  width: calc(100% - 2em);
  position: relative;
  float: left;
}
.input-pencil {
  position: relative;
  float: right;
  height: 2em;
  width: 2em;
  cursor: pointer;
  background: url("../image/icon/iChartEditPage/pencil.png") right center no-repeat;
  background-size: 50% 50%;
}
.mainContent-attr-item-normal-dataLatitudeLine {
  width: 70%;
  margin: .3em auto 0;
  line-height: 2em;
}
.mainContent-attr-item-normal-dataLatitudeName {
  display: inline-block;
  vertical-align: middle;
  color: white;
  line-height: 2em;
  font-size: 95%;
}
.mainContent-attr-item-normal-dataLatitudeInput {
  display: flex;
  min-height: 1.7em;
  box-shadow: 0 2px 0 0 #3DA8F5;
  background: transparent;
  margin: .3em 0;
}
.input-add {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 2em;
  width: 2em;
  cursor: pointer;
  background: url("../image/icon/iChartEditPage/add.png") center center no-repeat;
  background-size: 50% 50%;
}
.dataLatitudeItems {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.dataLatitudeItems-show-content {
  display: inline-block;
}
.dataLatitudeItems-show-close {
  position: relative;
  top: -1px;
  margin: 0 0 0 .3em;
  height: .8em;
  width: .8em;
  display: inline-block;
  vertical-align: middle;
}
.dataLatitudeItem {
  margin: 0 .5em .3em 0;
  position: relative;
}
.dataLatitudeItems-show {
  background: #3DA8F5;
  height: 1.7em;
  line-height: 1.7em;
  min-width: 3em;
  padding: 0 .7em;
  cursor: pointer;
  clip-path: polygon(0% 0%, calc(92%) 0, 100% 8px, 100% 100%, 0% 100%);
}
.dataLatitudeItems-hidden {
  display: none;
  width: 100%;
  background: #3DA8F5;
  position: absolute;
  transition: all .5s;
  opacity: 0;
  box-shadow: 0 0 0 0 transparent;
}
.dataLatitudeItems-hidden-active {
  display: block;
  z-index: 1;
  opacity: 1;
  box-shadow: 0.3em 0.4em 0.4em 0 rgba(102, 102, 102, 0.6);
}
.dataLatitudeItems-hidden-item {
  line-height: 1.3em;
  font-size: 85%;
  height: 1.3em;
  border-top: 1px solid white;
  padding: .5em;
  cursor: pointer;
}
.dataLatitudeItems-hidden-item:hover {
  background: #168dfa;
  transition: all .3s;
}
.mainContent-attr-item-content-txtLine {
  width: 70%;
  line-height: 2.5em;
  height: 2.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  color: white;
}
.mainContent-attr-item-content-txtName {
  width: 4em;
  height: 100%;
}
.mainContent-attr-item-content-txtContent {
  flex: 1;
  height: 100%;
}
.mainContent-attr-item-content-headerName {
  height: 3em;
}
.mainContent-attr-item-content-dataSetting {
  height: 13em;
  overflow-y: scroll;
}
.workpage-main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.workpage-menus {
  width: 17em;
  height: calc(100% - 1.4em);
  margin: .7em 0 0 0;
  border-right: 1.5px solid #363d3f;
  box-shadow: 1em 0 2em -1em rgba(0, 0, 0, 0.4);
  overflow: auto;
}
.workpage-scroll {
  width: 1em;
  height: 100%;
}
.workpage-tablespace {
  width: calc(100% - 17em);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.workpage-menus-name-line {
  margin: .2em auto 0 ;
  width: 85%;
  height: 2.5em;
  line-height: 2.5em;
}
.workpage-menus-name {
  display: inline-block;
  color: white;
  font-size: 115%;
}
.workpage-menus-add {
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  background: url("../image/icon/iChartWorkPage/add.png") right center no-repeat;
  background-size: 50% 50%;
  float: right;
  position: relative;
  cursor: pointer;
}
.workpage-menus-more {
  display: inline-block;
  height: 2.5em;
  width: 2.5em;
  background: url("../image/icon/iChartWorkPage/more.png") right center no-repeat;
  background-size: 50% 50%;
  float: right;
  position: relative;
  cursor: pointer;
}
.workpage-menus-search-line {
  width: 85%;
  line-height: 2.5em;
  height: 2.5em;
  margin: .2em auto 0;
  position: relative;
  border-bottom: 1px solid #3DA8F5;
}
.workpage-menus-search-bg {
  position: absolute;
  width: 1.6em;
  height: 1.6em;
  left: calc(50% - .8em);
  top: calc(50% - .8em);
}
.workpage-menus-search-input {
  height: 100%;
  width: calc(100% - 1px);
  background: transparent;
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  color: white;
  font-size: 115%;
  text-align: center;
}
.workpage-menus-databases {
  line-height: 2.5em;
  height: 2.5em;
  width: 85%;
  margin: 2em auto 0;
  cursor: pointer;
}
.workpage-menus-databases-title {
  color: white;
  display: inline-block;
}
.workpage-menus-databases-item {
  line-height: 2.5em;
  height: 2.5em;
  width: 85%;
  margin: 0 auto;
  cursor: pointer;
  padding: 0 7.5%;
}
.workpage-menus-db {
  display: inline-block;
  vertical-align: middle;
  height: 1.6em;
  width: 1.6em;
  margin: 0 .5em 0 1.6em;
  overflow: hidden;
}
.workpage-menus-file {
  display: inline-block;
  vertical-align: middle;
  height: 1.6em;
  width: 1.6em;
  margin: 0 .5em 0 0;
}
.workpage-menus-xlss {
  line-height: 2.5em;
  height: 2.5em;
  width: 85%;
  margin: 0 auto;
  cursor: pointer;
}
.workpage-menus-xlss-title {
  color: white;
  display: inline-block;
}
.workpage-menus-xlss-item {
  line-height: 2.5em;
  height: 2.5em;
  width: 85%;
  margin: 0 auto;
  cursor: pointer;
  padding: 0 7.5%;
}
.workpage-menus-xls {
  display: inline-block;
  vertical-align: middle;
  height: 1.6em;
  width: 1.6em;
  margin: 0 .5em 0 1.6em;
  overflow: hidden;
}
.workpage-menus-active {
  background: rgba(255, 255, 255, 0.5);
  box-shadow: -0.5em 0.1em 0.5em 0 rgba(0, 0, 0, 0.2), 0 1.5em 4em 1em #283033 inset;
}
.table-attrs {
  width: 90%;
  margin: 1em auto;
  border-bottom: 1px solid #363d3f;
  box-shadow: 0 -0.5em 1em -0.5em rgba(0, 0, 0, 0.2) inset;
}
.table-name-line {
  height: 4em;
  line-height: 4em;
  color: white;
  position: relative;
}
.table-name {
  display: inline-block;
  font-size: 140%;
}
.table-operation-name {
  display: inline-block;
  float: right;
  margin: 0 0 0 1em;
  user-select: none;
  cursor: pointer;
}
.table-operation-icon-1 {
  display: inline-block;
  float: right;
  height: 2em;
  width: 2em;
  vertical-align: middle;
  background: url("../image/icon/iChartWorkPage/save1.png") right center no-repeat;
  background-size: 60% 60%;
  position: relative;
  top: calc(50% - 1em);
}
.table-operation-icon-2 {
  display: inline-block;
  float: right;
  height: 2em;
  width: 2em;
  vertical-align: middle;
  background: url("../image/icon/iChartWorkPage/save2.png") right center no-repeat;
  background-size: 60% 60%;
  position: relative;
  top: calc(50% - 1em);
}
.table-operation-icon-3 {
  display: inline-block;
  float: right;
  height: 2em;
  width: 2em;
  vertical-align: middle;
  background: url("../image/icon/iChartWorkPage/save3.png") right center no-repeat;
  background-size: 60% 60%;
  position: relative;
  top: calc(50% - 1em);
}
.table-name-selects-line {
  margin: 0 0 1em 0;
  height: 3em;
  line-height: 3em;
  color: white;
  position: relative;
}
.table-name-select-icon {
  margin: 0 2em 0 0;
  display: inline-block;
  height: 2em;
  width: 2em;
  background: url("../image/icon/iChartWorkPage/tablespace_add.png") center center no-repeat;
  background-size: 40% 40%;
  vertical-align: middle;
}
.table-name-select-op {
  display: inline-block;
  user-select: none;
  cursor: pointer;
  vertical-align: middle;
}
.table-show {
  background: #242527;
  width: 90%;
  flex: 1;
  margin: 0 auto;
  overflow: auto;
  display: block;
  position: relative;
}
.table-body {
  color: white;
}
td {
  padding: .7em 5em .7em 1em;
  cursor: pointer;
  white-space: nowrap;
  max-width: 20em;
  overflow: auto;
  outline: none;
}
td::-webkit-scrollbar:horizontal {
  height: 0;
}
th {
  text-align: left;
  padding: .7em 5em .7em 1em;
  font-weight: normal;
  background: #262729;
  white-space: nowrap;
  max-width: 20em;
  overflow: auto;
}
th::-webkit-scrollbar:horizontal {
  height: 0;
}
tr:nth-child(odd) > td {
  background: #303030;
}
tr:nth-child(even) > td {
  background: #414345;
}
.table-body-tr-active {
  box-shadow: 0 0 0 1px #3DA8F5;
}
.table-page-control {
  height: 3em;
  width: 90%;
  margin: 1em auto 1.5em;
  color: white;
  text-align: center;
}
.iChart-hidden-dataSource-content {
  display: block;
  width: 33em;
  height: 23em;
  background: white;
  border-radius: 5px;
}
.iChart-hidden-dataSource-content-titleLine {
  width: 85%;
  margin: 1em auto;
  height: 2em;
  line-height: 2em;
}
.iChart-hidden-dataSource-content-titleName {
  color: #333;
  line-height: 2em;
  float: left;
}
.iChart-hidden-dataSource-content-close {
  background: url("../image/icon/iChartEditPage/close.png") right center no-repeat;
  background-size: 50% 50%;
  height: 2em;
  width: 2em;
  position: relative;
  float: right;
  cursor: pointer;
}
.iChart-hidden-dataSource-content-fileBox {
  width: 85%;
  margin: 1em auto;
  height: 15em;
  overflow: auto;
}
.iChart-hidden-dataSource-content-fileLine {
  width: 100%;
  line-height: 2em;
  height: 2em;
  cursor: pointer;
}
.iChart-hidden-dataSource-content-fileLine:hover {
  background: rgba(128, 128, 128, 0.3);
}
.iChart-hidden-dataSource-file-xlsx {
  display: inline-block;
  vertical-align: middle;
  height: 2em;
  line-height: 2em;
  width: 2em;
  background: url("../image/icon/iChartEditPage/xls.png") center center no-repeat;
  background-size: 50% 50%;
}
.iChart-hidden-dataSource-file-xlsx-name {
  display: inline-block;
  vertical-align: middle;
  color: #666;
  line-height: 2em;
  user-select: none;
}
.iChart-hidden-dataSource-content-stateLine {
  line-height: 2em;
  height: 2em;
  color: #769ce7;
  width: 85%;
  margin: 0 auto;
}
.iChart-hidden-dataSource-yes {
  position: relative;
  float: right;
  margin: 0 0 0 1em;
  cursor: pointer;
}
.iChart-hidden-dataSource-no {
  position: relative;
  float: right;
  margin: 0 0 0 1em;
  cursor: pointer;
}
.iChart-hidden-latitudeSource-content {
  display: block;
  width: 50em;
  height: 23em;
  border-radius: 5px;
  background: #f0f2f3;
}
.iChart-hidden-latitudeSource-content-titleLine {
  width: 85%;
  margin: 1em auto;
  height: 2em;
  line-height: 2em;
}
.iChart-hidden-latitudeSource-content-titleName {
  color: #333;
  line-height: 2em;
  float: left;
}
.iChart-hidden-latitudeSource-content-close {
  background: url("../image/icon/iChartEditPage/close.png") right center no-repeat;
  background-size: 50% 50%;
  height: 2em;
  width: 2em;
  position: relative;
  float: right;
  cursor: pointer;
}
.iChart-hidden-latitudeSource-content-stateLine {
  line-height: 2em;
  height: 2em;
  color: #999;
  width: 85%;
  margin: 0 auto;
}
.iChart-hidden-latitudeSource-yes {
  position: relative;
  float: right;
  margin: 0 0 0 1em;
  cursor: pointer;
  color: #769ce7;
}
.iChart-hidden-latitudeSource-no {
  position: relative;
  float: right;
  margin: 0 0 0 1em;
  cursor: pointer;
  color: #769ce7;
}
.iChart-hidden-latitudeSource-content-itemsBox {
  width: 85%;
  margin: 1em auto;
  height: 15em;
  overflow: auto;
}
.iChart-hidden-latitudeSource-content-items {
  display: flex;
  width: 100%;
  margin: 0 auto;
  font-size: 95%;
}
.iChart-hidden-latitudeSource-kind-name {
  color: #999;
  line-height: 1.5em;
}
.iChart-hidden-latitudeSource-date:before {
  display: inline-block;
  content: " ";
  width: 1.5em;
  height: 1.5em;
  margin: 0 .7em 0 0;
  background: url("../image/icon/iChartEditPage/date .png") center center no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
}
.iChart-hidden-latitudeSource-txt:before {
  display: inline-block;
  content: " ";
  width: 1.5em;
  height: 1.5em;
  margin: 0 .7em 0 0;
  background: url("../image/icon/iChartEditPage/text.png") center center no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
}
.iChart-hidden-latitudeSource-num:before {
  display: inline-block;
  content: " ";
  width: 1.5em;
  height: 1.5em;
  margin: 0 .7em 0 0;
  background: url("../image/icon/iChartEditPage/number.png") center center no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
}
.iChart-hidden-latitudeSource-date-content {
  margin: 0 0 1em 3em;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.iChart-hidden-latitudeSource-date-content-item {
  min-width: 6em;
  line-height: 1.5em;
  height: 1.5em;
  margin: 0 3em .3em 0;
}
.iChart-hidden-latitudeSource-date-content-item-checkbox {
  height: 1.5em;
  width: 1.7em;
  display: inline-block;
  background: url("../image/icon/iChartEditPage/check_off.png") center center no-repeat;
  background-size: 100% 100%;
  vertical-align: middle;
  cursor: pointer;
}
.iChart-hidden-latitudeSource-date-content-item-checkbox-active {
  background: url("../image/icon/iChartEditPage/check_on.png") center center no-repeat;
  background-size: 100% 100%;
}
.iChart-hidden-latitudeSource-date-content-item-checkname {
  color: #999;
  line-height: 1.5em;
  display: inline-block;
  height: 1.5em;
  vertical-align: middle;
}
