<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iChart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0">
    <link href="./css/iChart.css" type="text/css" rel="stylesheet">
</head>
<body ng-app="iChartApp" ng-controller="iChartController" >
    <div class="iChart-main" ng-class="iChart_hidden!=0?'iChart-mainBlur':''">
        <div class="loadBar">
            <div class="loadPart" ng-style="loadPartBar"></div>
            <div class="noLoadPart" ng-style="noloadPartBar"></div>
        </div>
        <div class="headers">
            <div class="headers-logo"></div>
            <div class="headers-name">iChart</div>
            <div class="headers-menu switch-menu" switch-button="编辑区,工作表,数据源" switch-button-size="90" switch-button-action="mainContentSwitch(flag)"></div>
            <div class="headers-space"></div>
            <div class="headers-avatar">
                <img src="image/icon/avatar-default.png" class="img-avatar">
            </div>
        </div>
        <div class="mainContent" ng-show="mainOrSub===1" ng-include="'./view/iChartEditPage.html'"  ng-controller="iChartEditPController"></div>
        <div class="mainContent" ng-show="mainOrSub===2" ui-view="subPages"></div>
    </div>
    <!--iChart_hidden=1: 数据来源-->
    <div class="iChart-hidden" ng-class="iChart_hidden==1?'iChart-hidden-dataSource':''">
        <div class="iChart-hidden-dataSource-content">
            <div class="iChart-hidden-dataSource-content-titleLine">
                <div class="iChart-hidden-dataSource-content-titleName">选择工作表</div>
                <div class="iChart-hidden-dataSource-content-close" ng-click="iChart_hidden=0"></div>
            </div>
            <div class="iChart-hidden-dataSource-content-fileBox">
                <div class="iChart-hidden-dataSource-content-fileLine">
                    <div class="iChart-hidden-dataSource-file-xlsx"></div>
                    <div class="iChart-hidden-dataSource-file-xlsx-name">网站订单分析</div>
                </div>
                <div class="iChart-hidden-dataSource-content-fileLine">
                    <div class="iChart-hidden-dataSource-file-xlsx"></div>
                    <div class="iChart-hidden-dataSource-file-xlsx-name">网站订单分析</div>
                </div>
                <div class="iChart-hidden-dataSource-content-fileLine">
                    <div class="iChart-hidden-dataSource-file-xlsx"></div>
                    <div class="iChart-hidden-dataSource-file-xlsx-name">网站订单分析</div>
                </div>
                <div class="iChart-hidden-dataSource-content-fileLine">
                    <div class="iChart-hidden-dataSource-file-xlsx"></div>
                    <div class="iChart-hidden-dataSource-file-xlsx-name">网站订单分析</div>
                </div>
                <div class="iChart-hidden-dataSource-content-fileLine">
                    <div class="iChart-hidden-dataSource-file-xlsx"></div>
                    <div class="iChart-hidden-dataSource-file-xlsx-name">网站订单分析</div>
                </div>
            </div>
            <div class="iChart-hidden-dataSource-content-stateLine">
                <div class="iChart-hidden-dataSource-no" ng-click="iChart_hidden=0">取消</div>
                <div class="iChart-hidden-dataSource-yes" ng-click="iChart_hidden=0">确定</div>
            </div>
        </div>
    </div>
    <!--iChart_hidden=2: 柱-->
    <div class="iChart-hidden" ng-controller="iChartBarController" ng-class="iChart_hidden==2?'iChart-hidden-barSource':''">
        <div class="iChart-hidden-barSource-content">
            <div class="iChart-hidden-barSource-content-titleLine">
                <div class="iChart-hidden-barSource-content-titleName">添加柱</div>
                <div class="iChart-hidden-barSource-content-close" ng-click="$parent.iChart_hidden=0"></div>
            </div>
            <div class="iChart-hidden-barSource-content-Lines">
                <div class="iChart-hidden-barSource-content-Line">
                    <div class="iChart-hidden-barSource-content-LineName">X轴项：{{attrList[attrListXAttriCurrentFlag]}}</div>
                    <div class="iChart-hidden-barSource-content-xAttriBox"></div>
                    <div class="iChart-hidden-barSource-content-LineMore" ng-click="attrListXAttriFlag=true;">change >></div>
                </div>
                <div class="iChart-hidden-barSource-content-Line">
                    <div class="iChart-hidden-barSource-content-LineName">属性内部筛选：</div>
                    <div class="iChart-hidden-barSource-content-xAttriBox"></div>
                    <div class="iChart-hidden-barSource-content-LineMore"></div>
                </div>
                <div class="iChart-hidden-barSource-content-Box">
                    <div class="iChart-hidden-barSource-content-lineEqual">
                        <div class="iChart-hidden-barSource-content-lineKind">筛选方式：相等</div>
                        <div class="iChart-hidden-barSource-content-lineKindContent">
                            <span ng-repeat="item in attrList track by $index" ng-if="attrListSelectState[$index]">
                                {{item}}&nbsp;
                            </span>
                        </div>
                        <div class="iChart-hidden-barSource-content-lineKindConfig" ng-click="attrListFlag=true;"></div>
                    </div>
                    <div class="iChart-hidden-barSource-content-lineScale">
                        <div class="iChart-hidden-barSource-content-lineKind">筛选方式：范围</div>
                        <div class="iChart-hidden-barSource-content-lineKindContent">
                            <span ng-repeat="item in scaleCondition track by $index">
                                {{item.left===0?'(':'['}}&nbsp;{{item.min}}&nbsp;,&nbsp;{{item.max}}&nbsp;{{item.right===0?')':']'}}
                            </span>
                        </div>
                        <div class="iChart-hidden-barSource-content-lineKindConfig" ng-click="attrScaleFilterFlag=true"></div>
                    </div>
                </div>
                <div class="iChart-hidden-barSource-content-dashed"></div>
                <div class="iChart-hidden-barSource-content-Line">
                    <div class="iChart-hidden-barSource-content-LineName">Y轴项：{{attrList[attrListYAttriCurrentFlag]}}</div>
                    <div class="iChart-hidden-barSource-content-xAttriBox"></div>
                    <div class="iChart-hidden-barSource-content-LineMore" ng-click="attrListYAttriFlag=true;">change >></div>
                </div>
                <div class="iChart-hidden-barSource-content-Line">
                    <div class="iChart-hidden-barSource-content-LineName">属性内部筛选：</div>
                    <div class="iChart-hidden-barSource-content-xAttriBox"></div>
                    <div class="iChart-hidden-barSource-content-LineMore"></div>
                </div>
                <div class="iChart-hidden-barSource-content-Box">
                    <div class="iChart-hidden-barSource-content-lineEqual">
                        <div class="iChart-hidden-barSource-content-lineKind">筛选方式：相等</div>
                        <div class="iChart-hidden-barSource-content-lineKindContent">
                            <span ng-repeat="item in attrList track by $index" ng-if="attrListYAttribSelectState[$index]">
                                {{item}}&nbsp;
                            </span>
                        </div>
                        <div class="iChart-hidden-barSource-content-lineKindConfig" ng-click="attrListYFlag=true;"></div>
                    </div>
                    <div class="iChart-hidden-barSource-content-lineScale">
                        <div class="iChart-hidden-barSource-content-lineKind">筛选方式：范围</div>
                        <div class="iChart-hidden-barSource-content-lineKindContent">
                            <span ng-repeat="item in scaleYAttribCondition track by $index">
                                {{item.left===0?'(':'['}}&nbsp;{{item.min}}&nbsp;,&nbsp;{{item.max}}&nbsp;{{item.right===0?')':']'}}
                            </span>
                        </div>
                        <div class="iChart-hidden-barSource-content-lineKindConfig" ng-click="attrScaleYAttriFilterFlag=true"></div>
                    </div>
                </div>
            </div>
            <div class="iChart-hidden-dataSource-content-stateLine">
                <div class="iChart-hidden-dataSource-no" ng-click="iChart_hidden=0">取消</div>
                <div class="iChart-hidden-dataSource-yes" ng-click="iChart_hidden=0">确定</div>
            </div>
        </div>
        <div class="iChart-hidden-barSource-content-attrList" ng-show="attrListFlag">
            <div class="iChart-hidden-attrSource-content">
                <div class="iChart-hidden-attrSource-content-titleLine">
                    <div class="iChart-hidden-attrSource-content-titleName">X轴项筛选方式：相等</div>
                    <div class="iChart-hidden-attrSource-content-close" ng-click="attrListFlag=false"></div>
                </div>
                <div class="iChart-hidden-attrSource-content-fileBox">
                    <div class="iChart-hidden-attrSource-content-fileLine" ng-repeat="item in attrList track by $index" ng-click="attrListSelectState[$index]=!attrListSelectState[$index]">
                        <div ng-class="attrListSelectState[$index]?'iChart-hidden-attrSource-file-attr':'iChart-hidden-attrSource-file-attr-inactive'"></div>
                        <div class="iChart-hidden-attrSource-file-attr-name">{{item}}</div>
                    </div>
                </div>
                <div class="iChart-hidden-attrSource-content-stateLine">
                    <div class="iChart-hidden-attrSource-no" ng-click="attrListFlag=false">取消</div>
                    <div class="iChart-hidden-attrSource-yes" ng-click="attrListFlag=false">确定</div>
                </div>
            </div>
        </div>
        <div class="iChart-hidden-barSource-content-filtList" ng-show="attrScaleFilterFlag">
            <div class="iChart-hidden-attrSource-content">
                <div class="iChart-hidden-attrSource-content-titleLine">
                    <div class="iChart-hidden-attrSource-content-titleName">X轴项筛选方式：范围<span ng-click="addScaleFilterLine()">添加</span></div>
                    <div class="iChart-hidden-attrSource-content-close" ng-click="attrScaleFilterFlag=false"></div>
                </div>
                <div class="iChart-hidden-attrSource-content-fileBox">
                    <div class="iChart-hidden-attrSource-content-xAttrScaleLine" ng-repeat="item in scaleCondition track by $index">
                        <div class="iChart-hidden-attrSource-content-xAttrScaleLeftBracket" ng-show="item.left===0" ng-click="item.left=1">(</div>
                        <div class="iChart-hidden-attrSource-content-xAttrScaleLeftBracket" ng-show="item.left===1" ng-click="item.left=0">[</div>
                        <div class="iChart-hidden-attrSource-content-xAttrScaleLeftValue">
                            <input type="number" placeholder="左区间" ng-model="item.min"/>
                        </div>
                        <div class="iChart-hidden-attrSource-content-xAttrScaleMiddleDash">，</div>
                        <div class="iChart-hidden-attrSource-content-xAttrScaleRightValue">
                            <input type="number" placeholder="右区间" ng-model="item.max"/>
                        </div>
                        <div class="iChart-hidden-attrSource-content-xAttrScaleRightBracket" ng-show="item.right===0" ng-click="item.right=1">)</div>
                        <div class="iChart-hidden-attrSource-content-xAttrScaleRightBracket" ng-show="item.right===1" ng-click="item.right=0">]</div>
                        <div class="iChart-hidden-attrSource-content-xAttrScaleClose" ng-click="deleteScaleFilterLine($index)"></div>
                    </div>
                </div>
                <div class="iChart-hidden-attrSource-content-stateLine">
                    <div class="iChart-hidden-attrSource-content-xAttrScalePrompt">*&nbsp;圆括号表示开区间，中括号表示闭区间。左区间不填代表负无穷大，右区间不填代表正无穷大</div>
                    <div class="iChart-hidden-attrSource-no" ng-click="attrScaleFilterFlag=false">取消</div>
                    <div class="iChart-hidden-attrSource-yes" ng-click="attrScaleFilterFlag=false">确定</div>
                </div>
            </div>
        </div>
        <div class="iChart-hidden-barSource-content-attrList" ng-show="attrListYAttriFlag">
            <div class="iChart-hidden-attrSource-content">
                <div class="iChart-hidden-attrSource-content-titleLine">
                    <div class="iChart-hidden-attrSource-content-titleName">Y轴项</div>
                    <div class="iChart-hidden-attrSource-content-close" ng-click="attrListyAttriFlag=false"></div>
                </div>
                <div class="iChart-hidden-attrSource-content-fileBox">
                    <div class="iChart-hidden-attrSource-content-fileLine" ng-repeat="item in attrList track by $index" ng-click="setAttrListYAttriCurrentFlag($index)">
                        <div ng-class="$index===attrListYAttriCurrentFlag?'iChart-hidden-attrSource-file-attr':'iChart-hidden-attrSource-file-attr-inactive'"></div>
                        <div class="iChart-hidden-attrSource-file-attr-name">{{item}}</div>
                    </div>
                </div>
                <div class="iChart-hidden-attrSource-content-stateLine">
                    <div class="iChart-hidden-attrSource-no" ng-click="attrListYAttriFlag=false">取消</div>
                    <div class="iChart-hidden-attrSource-yes" ng-click="attrListYAttriFlag=false">确定</div>
                </div>
            </div>
        </div>
        <div class="iChart-hidden-barSource-content-filtList" ng-show="attrScaleYAttriFilterFlag">
            <div class="iChart-hidden-attrSource-content">
                <div class="iChart-hidden-attrSource-content-titleLine">
                    <div class="iChart-hidden-attrSource-content-titleName">Y轴项筛选方式：范围<span ng-click="addScaleYAttribFilterLine()">添加</span></div>
                    <div class="iChart-hidden-attrSource-content-close" ng-click="attrScaleFilterFlag=false"></div>
                </div>
                <div class="iChart-hidden-attrSource-content-fileBox">
                    <div class="iChart-hidden-attrSource-content-xAttrScaleLine" ng-repeat="item in scaleYAttribCondition track by $index">
                        <div class="iChart-hidden-attrSource-content-xAttrScaleLeftBracket" ng-show="item.left===0" ng-click="item.left=1">(</div>
                        <div class="iChart-hidden-attrSource-content-xAttrScaleLeftBracket" ng-show="item.left===1" ng-click="item.left=0">[</div>
                        <div class="iChart-hidden-attrSource-content-xAttrScaleLeftValue">
                            <input type="number" placeholder="左区间" ng-model="item.min"/>
                        </div>
                        <div class="iChart-hidden-attrSource-content-xAttrScaleMiddleDash">，</div>
                        <div class="iChart-hidden-attrSource-content-xAttrScaleRightValue">
                            <input type="number" placeholder="右区间" ng-model="item.max"/>
                        </div>
                        <div class="iChart-hidden-attrSource-content-xAttrScaleRightBracket" ng-show="item.right===0" ng-click="item.right=1">)</div>
                        <div class="iChart-hidden-attrSource-content-xAttrScaleRightBracket" ng-show="item.right===1" ng-click="item.right=0">]</div>
                        <div class="iChart-hidden-attrSource-content-xAttrScaleClose" ng-click="deleteScaleYAttribFilterLine($index)"></div>
                    </div>
                </div>
                <div class="iChart-hidden-attrSource-content-stateLine">
                    <div class="iChart-hidden-attrSource-content-xAttrScalePrompt">*&nbsp;圆括号表示开区间，中括号表示闭区间。左区间不填代表负无穷大，右区间不填代表正无穷大</div>
                    <div class="iChart-hidden-attrSource-no" ng-click="attrScaleYAttriFilterFlag=false">取消</div>
                    <div class="iChart-hidden-attrSource-yes" ng-click="attrScaleYAttriFilterFlag=false">确定</div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./script/angular.min.js" type="text/javascript"></script>
<script src="./script/angular-ui-router.min.js" type="text/javascript"></script>
<script src="./script/initData.js"></script>
<script src="./script/echarts.js"></script>
<script src="script/iChartApp.js" type="text/javascript"></script>
<script src="script/service/iChartService.js" type="text/javascript"></script>
<script src="script/controller/iChartController.js" type="text/javascript"></script>
<script src="script/directive/iChartDirective.js" type="text/javascript"></script>
<script src="script/config/iChartRouter.js" type="text/javascript"></script>
<script>
</script>
</html>