<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iChart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0">
    <link href="./css/iChart.css" type="text/css" rel="stylesheet">
</head>
<body ng-app="iChartApp" ng-controller="iChartController" >
    <div class="iChart-main" ng-class="iChart_hidden!=0?'iChart-mainBlur':''">
        <div class="loadBar">
            <div class="loadPart" ng-style="loadPartBar"></div>
            <div class="noLoadPart" ng-style="noloadPartBar"></div>
        </div>
        <div class="headers">
            <div class="headers-logo"></div>
            <div class="headers-name">iChart</div>
            <div class="headers-menu switch-menu" switch-button="编辑区,工作表,数据源" switch-button-size="90" switch-button-action="mainContentSwitch(flag)"></div>
            <div class="headers-space"></div>
            <div class="headers-avatar">
                <img src="image/icon/avatar-default.png" class="img-avatar">
            </div>
        </div>
        <div class="mainContent" ng-show="mainOrSub===1" ng-include="'./view/iChartEditPage.html'"  ng-controller="iChartEditPController"></div>
        <div class="mainContent" ng-show="mainOrSub===2" ui-view="subPages"></div>
    </div>
    <!--iChart_hidden=1: 数据来源-->
    <div class="iChart-hidden" ng-class="iChart_hidden==1?'iChart-hidden-dataSource':''">
        <div class="iChart-hidden-dataSource-content">
            <div class="iChart-hidden-dataSource-content-titleLine">
                <div class="iChart-hidden-dataSource-content-titleName">选择工作表</div>
                <div class="iChart-hidden-dataSource-content-close" ng-click="iChart_hidden=0"></div>
            </div>
            <div class="iChart-hidden-dataSource-content-fileBox">
                <div class="iChart-hidden-dataSource-content-fileLine">
                    <div class="iChart-hidden-dataSource-file-xlsx"></div>
                    <div class="iChart-hidden-dataSource-file-xlsx-name">网站订单分析</div>
                </div>
                <div class="iChart-hidden-dataSource-content-fileLine">
                    <div class="iChart-hidden-dataSource-file-xlsx"></div>
                    <div class="iChart-hidden-dataSource-file-xlsx-name">网站订单分析</div>
                </div>
                <div class="iChart-hidden-dataSource-content-fileLine">
                    <div class="iChart-hidden-dataSource-file-xlsx"></div>
                    <div class="iChart-hidden-dataSource-file-xlsx-name">网站订单分析</div>
                </div>
                <div class="iChart-hidden-dataSource-content-fileLine">
                    <div class="iChart-hidden-dataSource-file-xlsx"></div>
                    <div class="iChart-hidden-dataSource-file-xlsx-name">网站订单分析</div>
                </div>
                <div class="iChart-hidden-dataSource-content-fileLine">
                    <div class="iChart-hidden-dataSource-file-xlsx"></div>
                    <div class="iChart-hidden-dataSource-file-xlsx-name">网站订单分析</div>
                </div>
            </div>
            <div class="iChart-hidden-dataSource-content-stateLine">
                <div class="iChart-hidden-dataSource-no" ng-click="iChart_hidden=0">取消</div>
                <div class="iChart-hidden-dataSource-yes" ng-click="iChart_hidden=0">确定</div>
            </div>
        </div>
    </div>
    <!--iChart_hidden=2: 柱-->
    <div class="iChart-hidden" ng-controller="iChartBarController" ng-class="iChart_hidden==2?'iChart-hidden-barSource':''">
        <div class="iChart-hidden-barSource-content">
            <div class="iChart-hidden-barSource-content-titleLine">
                <div class="iChart-hidden-barSource-content-titleName">添加柱</div>
                <div class="iChart-hidden-barSource-content-close" ng-click="iChart_hidden=0"></div>
            </div>
            <div class="iChart-hidden-barSource-content-Lines">
                <div class="iChart-hidden-barSource-content-Line">
                    <div class="iChart-hidden-barSource-content-LineName">X轴项：</div>
                    <div class="iChart-hidden-barSource-content-xAttriBox"></div>
                    <div class="iChart-hidden-barSource-content-LineMore" ng-click="attrListFlag=true;">change >></div>
                </div>
                <div class="iChart-hidden-barSource-content-Line">
                    <div class="iChart-hidden-barSource-content-LineName">属性内部筛选：</div>
                    <div class="iChart-hidden-barSource-content-xAttriBox"></div>
                    <div class="iChart-hidden-barSource-content-LineMore">add >></div>
                </div>
                <div class="iChart-hidden-barSource-content-Box">
                    <div class="iChart-hidden-barSource-content-BoxItem">
                        <img src="./image/icon/iChartEditPage/range.png" class="iChart-hidden-barSource-content-BoxRangeItem">
                        <img src="./image/icon/iChartEditPage/equal.png" class="iChart-hidden-barSource-content-BoxEqualItem">
                    </div>
                </div>
            </div>
            <div class="iChart-hidden-dataSource-content-stateLine">
                <div class="iChart-hidden-dataSource-no" ng-click="iChart_hidden=0">取消</div>
                <div class="iChart-hidden-dataSource-yes" ng-click="iChart_hidden=0">确定</div>
            </div>
        </div>
        <div class="iChart-hidden-barSource-content-attrList" ng-show="attrListFlag">
            <div class="iChart-hidden-attrSource-content">
                <div class="iChart-hidden-attrSource-content-titleLine">
                    <div class="iChart-hidden-attrSource-content-titleName">选择属性</div>
                    <div class="iChart-hidden-attrSource-content-close" ng-click="attrListFlag=false"></div>
                </div>
                <div class="iChart-hidden-attrSource-content-fileBox">
                    <div class="iChart-hidden-attrSource-content-fileLine" ng-repeat="item in attrList track by $index" ng-click="attrListSelectState[$index]=!attrListSelectState[$index]">
                        <div ng-class="attrListSelectState[$index]?'iChart-hidden-attrSource-file-attr':'iChart-hidden-attrSource-file-attr-inactive'"></div>
                        <div class="iChart-hidden-attrSource-file-attr-name">{{item}}</div>
                    </div>
                </div>
                <div class="iChart-hidden-attrSource-content-stateLine">
                    <div class="iChart-hidden-attrSource-no" ng-click="attrListFlag=false">取消</div>
                    <div class="iChart-hidden-attrSource-yes" ng-click="attrListFlag=false">确定</div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="./script/angular.min.js" type="text/javascript"></script>
<script src="./script/angular-ui-router.min.js" type="text/javascript"></script>
<script src="./script/initData.js"></script>
<script src="./script/echarts.js"></script>
<script src="script/iChartApp.js" type="text/javascript"></script>
<script src="script/service/iChartService.js" type="text/javascript"></script>
<script src="script/controller/iChartController.js" type="text/javascript"></script>
<script src="script/directive/iChartDirective.js" type="text/javascript"></script>
<script src="script/config/iChartRouter.js" type="text/javascript"></script>
<script>
</script>
</html>